body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s; /* Add transition effect for dark/light mode */
}

/* Light Mode Styles */

body.light-mode {
    background-color: #f7f7f7;
    color: #333;
}

header.light-mode {
    background-color: #333;
    color: #fff;
}

nav ul.light-mode {
    background-color: #fff;
}

nav a.light-mode {
    color: #333;
}

main.light-mode {
    background-color: #fff;
}

section.light-mode {
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2.light-mode {
    color: #333;
}

button.light-mode {
    background-color: #333;
    color: #fff;
}

/* Dark Mode Styles */

body.dark-mode {
    background-color: #333;
    color: #fff;
}

header.dark-mode {
    background-color: #444;
    color: #fff;
}

nav ul.dark-mode {
    background-color: #333;
}

nav a.dark-mode {
    color: #fff;
}

main.dark-mode {
    background-color: #333;
}

section.dark-mode {
    background-color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2.dark-mode {
    color: #fff;
}

button.dark-mode {
    background-color: #444;
    color: #fff;
}

/* Mobile Styles */

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    section {
        margin-bottom: 10px;
    }
    button {
        width: 100%;
    }
}

/* Desktop Styles */

@media only screen and (min-width: 769px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    section {
        width: 30%;
        margin: 20px;
    }
    button {
        width: 50%;
    }
}
